@{
    ViewBag.Title = "Payment";
    Layout = null;
}

@Styles.Render("~/Content/Payment.css")


<h1 style="text-align:center">Billing Mode - CreditCard</h1>


<h2>Payable Total : @ViewBag.GrandTotal  @ViewBag.MobileName</h2>

@*<div style="background-image: url('~/Content/Images/image.jpg'); "></div>*@

<div class="billing-mode container">
    <div class="billing-mode-element">
        <label>Card-Number :</label>
        <input type="number" class="card-number" maxlength="16" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="card-number">
    </div>

    <div class="billing-mode-element">
        <label>CVV :</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="cvv" id="cvv">
    </div>

    <div class="billing-mode-element">
        <label>Expiry Date :</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" class="expiry-date" style="height:30px" id="expiry-date">
    </div>

    <div class="billing-btn-div">
        <button type="button" class="btn btn-primary billing-btn" id="makePayment">Buy</button>
    </div>


</div>

<div id="billing-status">
    <p billing-status-msg></p>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript" src="~/Scripts/Cart.js"></script>


